main {
    position: relative;
    z-index: 0;

    .location {
        display: flex;
        justify-content: center;
        background-color: #e5e5e5;
        color: rgb(62, 62, 62);
        padding: 20px;

        & i {
            font-size: 4vw;

            @media ($desktop) {
                font-size: 1.2vw;
            }
        }

        & h1 {
            font-size: 4vw;
            font-weight: 500;
            padding-left: 15px;

            @media ($desktop) {
                font-size: 1.2vw;
            }
        }
    }

    .intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #f2f2f2;

        & h2 {
            font-size: 6vw;
            padding: 0 70px;
            padding-top: 40px;
            padding-bottom: 15px;
            text-align: center;

            @media ($desktop) {
                font-size: 2vw;
            }
        }

        & p {
            font-size: 4vw;
            font-weight: 400;
            padding: 0 50px;
            padding-bottom: 30px;
            text-align: center;
            color: rgb(73, 72, 72);

            @media ($desktop) {
                font-size: 1.3vw;
            }
        }

        & input {
            border-radius: 30px;
            box-shadow: rgba(40, 39, 39, 0.5) 0px 13px 27px -5px;
            border: none;
            font-size: 4vw;
            font-weight: 500;
            padding: 15px 25px;
            background: linear-gradient(to top, $color1, $color2);
            color: #fff;
            margin-bottom: 50px;
            cursor: pointer; 

            @media ($desktop) {
                font-size: 1.3vw;
            }
        }
    }

    .working {
        padding-top: 50px;

        & h2 {
            padding-left: 20px;
            font-size: 6vw;

            @media ($desktop) {
                font-size: 2vw;
            }
        }

        & .working-container {
            display: flex;
            flex-direction: column;
            padding: 30px;

            @media ($desktop) {
                flex-direction: row;
                justify-content: space-around;

            }

            & article {
                background-color: #f2f2f2;
                display: flex;
                align-items: center;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px;
                border: 1px transparent;
                border-radius: 20px;
                margin-bottom: 20px;
                height: 10vh;

                @media ($desktop) {
                    height: 10vh;
                }

                & .number {
                    position: relative;
                    right: 15px;
                    border: 1px solid $color1;
                    background-color: $color1;
                    color: #fff;
                    width: 30px;
                    height: 30px;
                    border-radius: 30px;
                    line-height: 30px;
                    text-align: center;
                    font-size: 4vw;
                    font-weight: 400;

                    @media ($desktop) {
                        font-size: 1.3vw;
                        width: 25px;
                        height: 25px;
                        border-radius: 25px;
                        line-height: 25px;  
                        right: 10px;               
                    }
                }

                & i {
                   font-size: 6.5vw;
                   padding-left: 10px;
                   padding-right: 30px; 
                   color: rgb(78, 76, 76);   

                   @media ($desktop) {
                    font-size: 1.3vw;
                    padding-right: 10px;
                    padding-left: 5px;
                }
                }
                
                & p {
                    font-size: clamp(1rem, 3vw, 1.5rem); 
                    padding: 0 5px;
                    font-weight: 500;

                    @media ($desktop) {
                        font-size: 1.3vw;
                        padding-right: 30px;
                    }
                }
            }

            & article:hover {
                background-color: #e8e3e3;

                & i {
                    color: $color1;
                   }
            }

        }
    }

    .restaurant {
        background-color: #f2f2f2;
        padding-top: 50px;

        & h2 {
            padding-left: 20px;
            font-size: 6vw;

            @media ($desktop) {
                font-size: 2vw;
            }
        }

        & .restaurant-container {
            display: flex;
            flex-direction: column;
            padding: 20px;
            
            @media ($desktop) {
                display: grid;
                grid-template-columns: repeat(2,2fr);
                column-gap: 1rem;
            }

            & .restaurant-card {
                display: flex;
                flex-direction: column;
                position: relative;
                width: 100%;
                margin-bottom: 15px;
                border-radius: 20px;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px;

                & .new {
                    width: 25%;
                    position: absolute;
                    color: darken($color3, 50%);
                    background-color: $color3;
                    border: none;
                    border-radius: 3px;
                    text-align: center;
                    padding: 5px 10px;
                    right: 1rem;
                    top: 0.5rem;
                    font-size: 4vw;
                    font-weight: 500;

                    @media ($desktop) {    
                        font-size: 1.3vw;
                        width: 15%;
                        padding-left: 10px;    
                      }
                }
                
                & img {
                    width: 100%;
                    height: 190px;
                    object-fit:cover;
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                }

                & .restaurant-card-bottom {
                    padding: 10px 20px 20px 10px;
                    display: flex;
                    justify-content: space-between;

                    & h3 {
                        padding-bottom: 1px;
                        font-size: 5vw; 
                        font-weight: 500;

                        @media ($desktop) {
                          font-size: 1.5vw;
                        }
                    }
    
                    & p {
                        font-size: 4.5vw;
                        font-weight: 300;

                        @media ($desktop) {
                            font-size: 1.4vw;
                          }
                    }
    
                    & i {
                        font-size: 8vw;
                        position: absolute;    
                        right: 40px; 
                        cursor: pointer; 

                        @media ($desktop) {    
                            font-size: 3vw;
                        }
                    }

                    & .fa-solid {
                        color: transparent;
                        -webkit-background-image: linear-gradient(to top, $color1, $color2);
                        background-image: linear-gradient(to top, $color1, $color2);
                        transition: 1s ease-in-out;
                        -webkit-background-clip: text;
                        background-clip: text;
                        opacity: 0;

                        &:hover {
                            opacity: 1;
                        }
                    }

                 }

            }
        }
    }
}

